.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.stackNav {
  display:block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

footer {
  background-color: #1b1b1b;
  padding: 10vh 10vw 5vh 30vw;
  color: grey;
  display: relative;
}

.imageThumbnail {
  width: 100% !important;
  height: auto !important;
  padding: 5px;
}

.carousel-control-next-icon,.carousel-control-prev-icon {
  display: none;
}

.carousel-item img {
  max-height: 80vh;
  max-width: 80vw;
}

.carousel-item.active {
  display:flex;
  align-items: center;
  justify-content: center;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
  align-items: center;
    justify-content: center;

}

.modal-dialog {
  max-width: 90vw;
}

.modal-content {
  background-color: #fff0;
  
}

.modal-header {
  border-bottom: 0;
}

.sideNav{
  position: fixed;
  width: 25vw;
  padding: 0vh 0vh;
  height: 100vh;  
  z-index: 9;
  background-color: #1b1b1b;
}

.modal-header div {
  color:rgba(255, 255, 255, 0.801);
}

.modal-header .close {
  color: white;
}

.modal-backdrop.show {
  opacity: 0.9;
}

.navLink {
  display: block;
  padding: 10px 10px 10px 20px;
  text-align: left;
  color: white;
}


.App-Body {
  background-color: #1b1b1b;
  width: 75vw;
  margin-right: 0;
  margin-left: 25vw;
  padding: 7.5vh 5vw 0 0;
  font-size: calc(10px + 2vmin);
  color: white;
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px; 
}

.navbarBrand {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 20px;
  font-size: x-large;
  text-align: left;
  display: block;
  color: white;
}

a:hover {
  color: grey;
  text-decoration: none;
}


.App-link {
  color: #61dafb;
}

@media (max-width: 1200px) {
  .App-Body {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  .App-Body {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .App-Body {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .App-Body {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
